<div id="panelglowny">
  <app-panel-top></app-panel-top>
  <button id="b1" routerLink="/landing">POWRÓT DO STRONY GŁÓWNEJ</button>
</div>


<div class="products">
    <table id="tab1">
        <thead nglf="this.mainService.pdocucts">
            <tr>
                <th>obrazek</th>
                <th>dane</th>
                <th>akcje</th>
            </tr>
        </thead>
        <tbody>
          <ng-container id="gry" *ngFor="let product of this.mainService.products?.productsTable">
            <tr style="background-color: whitesmoke;">
              <td>
                <img src="{{product.thumbnail}}" alt=""></td>
                <td>
                  <ul>
                    <li>Tytuł: {{product.title}}</li>
                    <li>Cena: {{product.price}}</li>
                    <li>Kategoria: {{product.category}}</li>
                  </ul>
                </td>
                <td><button (click)="addToCart(product)">Do koszyka</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
    </table>
</div>
