img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
.products{
  background-color: orange;
}
#panelglowny{
  background-color:yellow;
}
#tab1{
  margin:0 auto;
}
#gry{
  border-width: medium;
  border:4px;
  background-color:red;
}
