<app-panel-top></app-panel-top>
<div class="products">
  <table style="margin:0 auto;" id="cartTable">
    <thead *ngIf="this.mainService.products">
      <tr>
        <th>obrazek</th>
        <th>dane</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of this.mainService.cart">
        <tr style="background-color: whitesmoke;">
          <td>
            <img src="{{product.thumbnail}}" alt=""></td>
          <td>
            <ul>
              <li>Tytuł: {{product.title}}</li>
              <li>Cena: {{product.price}}</li>
              <li>Kategoria: {{product.category}}</li>
            </ul>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="summary">
    <p>Do zapłaty: {{getCartPrice()}}</p>
  </div>
  <div class="payment">
    <div id="paypal">
      <img src="https://cdn.pixabay.com/photo/2018/05/08/21/29/paypal-3384015_960_720.png">
    </div>
    <form action="http://www.jakubadamus.cba.pl/paypal.php" method="get" #paymentForm>
      <input type="text" #firstName name="firstName" id="" placeholder="Imie">
      <input type="text" #lastName name="lastName" id="" placeholder="Nazwisko">
      <input type="text" #email name="email" id="" placeholder="Email">
      <input type="text" name="phone" id="" placeholder="Telefon">
      <ng-container *ngFor="let object of this.mainService.cart">
        <input type="hidden" name="products[]" value="{{ object | json }}">
      </ng-container>
      <label for="">Akceptuję regulamin:<input #regulamin type="checkbox" name="aggrement" id="" (change)="0"></label>
      <button [disabled]="!regulamin.checked" (click)="paymentForm.submit()">Kup</button>
    </form>
  </div>
</div>
